/* You can add global styles to this file, and also import other style files */
:root {
    --disabled-color: #a0a0a0;
    --bg-color-1: #a3c6c9;
    --bg-color-2: #617779;
    --bg-color-3: #2e3a3a;
}

html {
    background-image: url(../src/assets/bg-image.png);
    background-size: contain;
    height: 100vh;
}

h1 {
    color: var(--bg-color-3);
}

.primary-button {
    height: 3rem;
    width: 21.5rem;
    border-radius: 0.5rem;
    padding: 5px;
    margin: 10px;
    border: none;
    background-color: var(--bg-color-3);
    color: white;
    cursor: pointer;
}

.primary-button:disabled {
    background-color: var(--disabled-color);
    cursor: auto;
}

input, select {
    border: 2px solid var(--bg-color-1);
    height: 2rem;
    width: 20rem;
    border-radius: 0.5rem;
    padding: 5px 10px;
    margin: 10px;
}

select {
    height: 2.5rem;
    width: 22rem;
}

input:focus,
input:hover,
select:focus,
select:hover {
    border-color: var(--bg-color-2);
    outline: none;
}

.flex {
    display: flex;
}

.f-column {
    flex-direction: column;
}

.flex-gap-1 {
    gap: 1rem;
}

.error,
.error:hover,
.error:focus {
    border-color: red;
}
