label {
    flex: 1;
    text-align: end;
}

input {
    flex: 1;
}

.form-wrapper{
    margin-top: 25px;
    width: 25vw;
}

.no-data {
    height: 350px;
    width: 50vw;
    justify-content: center;
}