<form [formGroup]="addRideForm" *ngIf="formOpen; else saveMessage">
    <div class="flex">
        <div class="flex f-column flex-x-center">
            <div class="input-wrapper flex flex-gap-1">
                <label>Employee ID</label>
                <input
                    type="text"
                    [ngClass]="{'error': isFieldInvalid('empId')}"
                    formControlName="empId"
                >
            </div>
            <div class="input-wrapper flex flex-gap-1">
                <label>Vehicle type</label>
                <select formControlName="vehicleType">
                    @for(type of vehicleTypes; track type) {
                        <option [value]="type">{{type}}</option>
                    }
                </select>
            </div>
            <div class="input-wrapper flex flex-gap-1">
                <label>Vehicle number</label>
                <input
                    type="text"
                    [ngClass]="{'error': isFieldInvalid('vehicleNumber')}"
                    formControlName="vehicleNumber"
                    placeholder="MH-01-BH-0001"
                >
            </div>
            <div class="input-wrapper flex flex-gap-1">
                <label>Seats available</label>
                <input
                    type="number"
                    [ngClass]="{'error': isFieldInvalid('seatsAvailable')}"
                    formControlName="seatsAvailable"
                >
            </div>
        </div>
        <div class="flex f-column flex-x-center">
            <div class="input-wrapper flex flex-gap-1">
                <label>Ride time</label>
                <input
                    type="time"
                    [ngClass]="{'error': isFieldInvalid('rideTime')}"
                    formControlName="rideTime"
                >
            </div>
            <div class="input-wrapper flex flex-gap-1">
                <label>Pickup location</label>
                <input
                    type="text"
                    formControlName="pickupLocation"
                    placeholder="Office/Bellandur etc"
                    [ngClass]="{'error': isFieldInvalid('dropLocation')}"
                >
            </div>
            <div class="input-wrapper flex flex-gap-1">
                <label>Drop location</label>
                <input
                    type="text"
                    formControlName="dropLocation"
                    placeholder="Office/Bellandur etc"
                    [ngClass]="{'error': isFieldInvalid('dropLocation')}"
                >
            </div>
        </div>
    </div>
    <div class="flex button-wrapper">
        <button
            class="primary-button"
            [disabled]="isSubmitDisabled()"
            (click)="onSubmit()"
        >Add ride</button>
    </div>
</form>

<ng-template #saveMessage>
    <div class="flex f-column flex-x-center">
        <h1>Your message have been saved</h1>
        <button class="primary-button" (click)="addMore()">Add more</button>
    </div>
</ng-template>